.fa {
    padding: 6px, 11px, 22px, 33px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 15px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-envelope{
    background: black;
    color: white;
  }

  .fa-linkedin {
    background: black;
    color: white;
  }

  .fa-github {
    background: black;
    color: white;
  }
  

    #imgIcon {
            height: 50px;
            width: 50px;
            margin-top: 6px;
            margin-left: 220px;
    }

    
    nav {
        background-color: black;
    }

    .page-footer{
        background-color: #191919 ;
        padding: 0px;
    }

    body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: whitesmoke;
    }

   main {
    flex: 1 0 auto;
   }

   h4{
    color: #191919; 
   }

   h5{
    color: #191919; 
   }
    
   p{
    color: #191919;
   }
