    
        #imgIcon {
            height: 40px;
            width: 40px;
            margin-top: 10px;
        }

        .linkdin {
            background-image: url("./images/jLogoImage.png");
            height: 30px;
            width: 30px;
        }

        .github {
            background-image: url("./images/jLogoImage.png");
            height: 30px;
            width: 30px;
        }
        nav{
            background-color: black;
        }

        .page-footer{
            background-color: black;
            padding: 0px;
        }

    body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: whitesmoke;
  }

  main {
    flex: 1 0 auto;
  }
    
